<h2>Current Jobs offer</h2>

<div class="job-name">Job 1 Offer Name</div>
<div class="job-ctrl">View | Apply | Edit | Delete</div>

<div class="job-name">Job 2 Offer Name</div>
<div class="job-ctrl">View | Apply | Edit | Delete</div>

<div class="job-name">Job 3 Offer Name</div>
<div class="job-ctrl">View | Apply | Edit | Delete</div>

<div class="job-name">Job 4 Offer Name</div>
<div class="job-ctrl">View | Apply | Edit | Delete</div>
